{% extends "base.html" %}

{% block content %}
<h1>{{ user.name }}</h1>
<p style="font-size: 15px;">

    {% if user.about %}
        <b>О себе</b>: {{ user.about }}
    {% endif %}

    <br>
    <b>Работ написано</b>: {{ works|length() }}
    <br>
    <b>Зарегестрирован</b>: {{ user.created_date }}
</p>
<br>
{% set logined = current_user.get_id() == user.id|string() %}

{% if logined %}
    <a href="/add_work" class="btn btn-secondary">Добавить произведение</a>
{% endif %}
<br>

{% if logined %}
    <h1>Ваши последние работы</h1>
{% else %}
    <h1>Последние работы этого автора</h1>
{% endif %}


{% for item in works %}
<div class="col-md6 border rounded" style="color: black;">
    <a href='/texts/{{ item.id|int() }}' class='straight_link'>
        <h2>{{item.title}}</h2>
    </a>
    
    <div style="overflow-x:hidden; text-overflow: ellipsis; font-size: 14px;">
        Жанр - <a href="/filtered_by_genre/{{ item.genre_id }}"><b>{{item.genre.name}}</b></a><br>
        Автор - <b>{{item.user.name}}</b>
        <br>Дата написания - {{item.created_date}}
    </div>
    <br>
    <div style="overflow-x:hidden; text-overflow: ellipsis;">
        {{item.description}}
    </div>

    {% if logined %}
        <div style="text-align: right;">
            <a class="btn" href="/reduct_work/{{ item.id }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a class="btn" 
            href="/delete_work/{{ item.id }}">
                <i class="fa fa-trash"></i>
            </a>
        </div>

    {% endif %}

</div>
{% endfor %}

<br>
{% if logined %}
    <a href="/logout" class="btn btn-outline-danger" style = "height: 40px; width: 200px;">
        Выйти
    </a>
{% endif %}

{% endblock %}